<div class="dashboard-container">
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <h2>BANCO</h2>
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="clients">
          Clientes
        </li>
        <li routerLinkActive="active" routerLink="accounts">
          Cuentas
        </li>
        <li routerLinkActive="active" routerLink="movements">
          Movimientos
        </li>
        <li routerLinkActive="active" routerLink="reports">
          Reportes
        </li>
      </ul>
    </nav>
  </aside>
</div>
