<div class="header-container">
  <h2>Nuevo Movimiento</h2>
  <app-back-button></app-back-button>
</div>
<form [formGroup]="movementForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="accountId">Cuenta</label>
    <select id="accountId" formControlName="accountId">
      <option [value]="null" disabled>Seleccione una cuenta</option>
      @for (account of accounts(); track account.id) {
        <option [value]="account.id">{{ account.accountNumber }} - {{ account.accountType }}</option>
      }
    </select>
    @if (movementForm.get('accountId')?.invalid && movementForm.get('accountId')?.touched) {
      <div class="error">La cuenta es requerida.</div>
    }
  </div>

  <div class="form-group">
    <label for="date">Fecha</label>
    <input id="date" type="date" formControlName="date">
    @if (movementForm.get('date')?.invalid && movementForm.get('date')?.touched) {
      <div class="error">La fecha es requerida.</div>
    }
  </div>

  <div class="form-group">
    <label for="movementType">Tipo de movimiento</label>
    <select id="movementType" formControlName="movementType">
      <option value="" disabled>Seleccione el tipo de movimiento</option>
      <option value="Debit">Débito</option>
      <option value="Credit">Crédito</option>
    </select>
    @if (movementForm.get('movementType')?.invalid && movementForm.get('movementType')?.touched) {
      <div class="error">El tipo de movimiento es requerido.</div>
    }
  </div>

  <div class="form-group">
    <label for="amount">Monto</label>
    <input id="amount" type="number" formControlName="amount" placeholder="Ingrese el monto">
    @if (movementForm.get('amount')?.invalid && movementForm.get('amount')?.touched) {
      <div class="error">El monto es requerido.</div>
    }
  </div>

  <div class="form-group">
    <label for="balance">Balance</label>
    <input id="balance" type="number" formControlName="balance" placeholder="Ingrese el balance">
    @if (movementForm.get('balance')?.invalid && movementForm.get('balance')?.touched) {
      <div class="error">El balance es requerido.</div>
    }
  </div>

  <button type="submit" [disabled]="!movementForm.valid">Guardar</button>
</form>
