<div class="table-container">
  @if (searchKey) {
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Buscar..."
    />
  </div>
  }
  <table class="dynamic-table">
    <thead>
      <tr>
        @for (column of columns; track column.accessor) {
        <th>{{ column.header }}</th>
        }
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      @for (row of filteredData; track row[trackByKey]) {
      <tr>
        @for (column of columns; track column.accessor) {
        <td>
          {{ row[column.accessor] }}
        </td>
        }
        <td class="actions-cell">
          <app-edit-button (edit)="onEdit.emit(+row[trackByKey])"></app-edit-button>
          <app-delete-button (delete)="onDelete.emit(+row[trackByKey])"></app-delete-button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
