<div class="table-container">
  <table class="dynamic-table">
    <thead>
      <tr>
        @for (column of columns; track column.accessor) {
        <th>{{ column.header }}</th>
        }
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      @for (row of data; track row[trackByKey]) {
      <tr>
        @for (column of columns; track column.accessor) {
        <td>
          {{ row[column.accessor] }}
        </td>
        }
        <td class="actions-cell">
          <app-edit-button></app-edit-button>
          <app-delete-button></app-delete-button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
